#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#canvas {
  display: flex;
  flex-direction: column;
}

.canvas-row {
  display: flex;
  flex-direction: row;
  height: 1rem;
  border-top: 1px dashed red;
  box-sizing: border-box;
}

.grid {
  height: 100%;
  width: 1rem;
  border-left: 1px dashed red;
  box-sizing: border-box;
}

.grid:last-of-type {
  border-right: 1px dashed red;
}

.canvas-row:last-of-type {
  border-bottom: 1px dashed red;
}

.hovered {
  background-color: deepskyblue;
}

.conflict {
  background-color: red;
}

.occupied {
  /* background-color: #282828; */
  background-color: yellow;
}